exportPattern("CountIntersect")
exportPattern("ShufflePeaks")
exportPattern("EnrichPARs")
exportPattern("IdentifyDEGLinkedRepeats")
exportPattern("FindMotifs")
exportPattern("GetOverlap")
exportPattern("EstimateRepeatAge")
exportPattern("getInterval")
exportPattern("MakePlots")
