exportPattern("CountIntersect")
exportPattern("ShufflePeaks")
exportPattern("TEAR")
exportPattern("DATE")
exportPattern("FindMotifs")
exportPattern("GetOverlap")
exportPattern("EstimateRepeatAge")
exportPattern("getInterval")
exportPattern("MakePlots")
